.carousel-item {
  height: 60vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
.carousel-item img {
  width: auto;
  height: auto;
  margin: -180px auto;
}

/* .carousel-inner {
  height: 400px;
} */
